## Pandas Intro

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('user_behavior_dataset.csv')

In [4]:
data.head()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class
0,1,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4
1,2,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3
2,3,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2
3,4,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3
4,5,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3

In [8]:
data.describe()

,User ID,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,User Behavior Class
count,700.00000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
mean,350.50000,271.128571,5.272714,1525.158571,50.681429,929.742857,38.482857,2.990000
std,202.21688,177.199484,3.068584,819.136414,26.943324,640.451729,12.012916,1.401476
min,1.00000,30.000000,1.000000,302.000000,10.000000,102.000000,18.000000,1.000000
25%,175.75000,113.250000,2.500000,722.250000,26.000000,373.000000,28.000000,2.000000
50%,350.50000,227.500000,4.900000,1502.500000,49.000000,823.500000,38.000000,3.000000
75%,525.25000,434.250000,7.400000,2229.500000,74.000000,1341.000000,49.000000,4.000000
max,700.00000,598.000000,12.000000,2993.000000,99.000000,2497.000000,59.000000,5.000000

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   User ID                     700 non-null    int64
 1   Device Model                700 non-null    object
 2   Operating System            700 non-null    object
 3   App Usage Time (min/day)    700 non-null    int64
 4   Screen On Time (hours/day)  700 non-null    float64
 5   Battery Drain (mAh/day)     700 non-null    int64
 6   Number of Apps Installed    700 non-null    int64
 7   Data Usage (MB/day)         700 non-null    int64
 8   Age                         700 non-null    int64
 9   Gender                      700 non-null    object
 10  User Behavior Class         700 non-null    int64
dtypes: float64(1), int64(7), object(3)
memory usage: 60.3+ KB

In [14]:
data.columns

Index(['User ID', 'Device Model', 'Operating System',
       'App Usage Time (min/day)', 'Screen On Time (hours/day)',
       'Battery Drain (mAh/day)', 'Number of Apps Installed',
       'Data Usage (MB/day)', 'Age', 'Gender', 'User Behavior Class'],
      dtype='object')

In [13]:
data.tail()

,User ID,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class
695,696,iPhone 12,iOS,92,3.9,1082,26,381,22,Male,2
696,697,Xiaomi Mi 11,Android,316,6.8,1965,68,1201,59,Male,4
697,698,Google Pixel 5,Android,99,3.1,942,22,457,50,Female,2
698,699,Samsung Galaxy S21,Android,62,1.7,431,13,224,44,Male,1
699,700,OnePlus 9,Android,212,5.4,1306,49,828,23,Female,3

In [15]:
data.Age

0      40
1      47
2      42
3      20
4      31
       ..
695    22
696    59
697    50
698    44
699    23
Name: Age, Length: 700, dtype: int64

In [16]:
data["Device Model"]

0          Google Pixel 5
1               OnePlus 9
2            Xiaomi Mi 11
3          Google Pixel 5
4               iPhone 12
              ...
695             iPhone 12
696          Xiaomi Mi 11
697        Google Pixel 5
698    Samsung Galaxy S21
699             OnePlus 9
Name: Device Model, Length: 700, dtype: object

In [17]:

data = data.drop("User ID", axis=1)
data.head()

,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class
0,Google Pixel 5,Android,393,6.4,1872,67,1122,40,Male,4
1,OnePlus 9,Android,268,4.7,1331,42,944,47,Female,3
2,Xiaomi Mi 11,Android,154,4.0,761,32,322,42,Male,2
3,Google Pixel 5,Android,239,4.8,1676,56,871,20,Male,3
4,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3

In [18]:
data.loc[3]

Device Model                  Google Pixel 5
Operating System                     Android
App Usage Time (min/day)                 239
Screen On Time (hours/day)               4.8
Battery Drain (mAh/day)                 1676
Number of Apps Installed                  56
Data Usage (MB/day)                      871
Age                                       20
Gender                                  Male
User Behavior Class                        3
Name: 3, dtype: object

In [19]:
data.iloc[2]

Device Model                  Xiaomi Mi 11
Operating System                   Android
App Usage Time (min/day)               154
Screen On Time (hours/day)             4.0
Battery Drain (mAh/day)                761
Number of Apps Installed                32
Data Usage (MB/day)                    322
Age                                     42
Gender                                Male
User Behavior Class                      2
Name: 2, dtype: object

In [20]:
data.iloc[4:20]

,Device Model,Operating System,App Usage Time (min/day),Screen On Time (hours/day),Battery Drain (mAh/day),Number of Apps Installed,Data Usage (MB/day),Age,Gender,User Behavior Class
4,iPhone 12,iOS,187,4.3,1367,58,988,31,Female,3
5,Google Pixel 5,Android,99,2.0,940,35,564,31,Male,2
6,Samsung Galaxy S21,Android,350,7.3,1802,66,1054,21,Female,4
7,OnePlus 9,Android,543,11.4,2956,82,1702,31,Male,5
8,Samsung Galaxy S21,Android,340,7.7,2138,75,1053,42,Female,4
9,iPhone 12,iOS,424,6.6,1957,75,1301,42,Male,4
10,Google Pixel 5,Android,53,1.4,435,17,162,34,Female,1
11,OnePlus 9,Android,215,5.5,1690,47,641,24,Male,3
12,OnePlus 9,Android,462,6.2,2303,65,1099,57,Female,4
13,Xiaomi Mi 11,Android,215,4.9,1662,43,857,43,Male,3
14,iPhone 12,iOS,189,5.4,1754,53,779,49,Female,3
15,Google Pixel 5,Android,503,10.4,2571,84,2025,39,Female,5
16,OnePlus 9,Android,132,3.6,628,32,344,47,Female,2
17,iPhone 12,iOS,299,5.8,1431,41,985,44,Female,3
18,Google Pixel 5,Android,81,1.4,558,16,297,26,Female,1
19,iPhone 12,iOS,577,8.5,2774,89,2192,29,Female,5